@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

#hero-section {
  background-image: url("../public/images/desktop/image-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 576px) {
  #hero-section {
    background-image: url("../public/images/mobile/image-hero.jpg");
    background-position: center;
  }
}

/* Hamburger menu */
.humberger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.2s;
  position: relative;
}
.humberger-top,
.humberger-bottom,
.humberger-middle {
  position: absolute;
  background-color: #fff;
  top: 4px;
  left: 0;
  width: 24px;
  height: 2px;
  transition: all 0.2s;
}
.humberger-top {
  transform: translateY(7px);
}
.humberger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}
.open .humberger-top {
  transform: rotate(45deg) translateX(6px) translateY(6px);
}

.open .humberger-middle {
  display: none;
}

.open .humberger-bottom {
  transform: rotate(-45deg) translateX(-6px) translateY(6px);
}
